[submodule "src/themes/hugo-test-theme"]
	path = src/themes/hugo-test-theme
	url = git@github.com:sinicide/hugo-test-theme.git
[submodule "src/themes/huynguyen-hugo-theme"]
	url = git@github.com:sinicide/huynguyen-hugo-theme.git
